<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AcmePlex</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/index.js" defer></script>
    <script src="/js/utils/util.js" defer></script>
</head>
<body>
<header class="top-bar">
    <div class="search-bar">
        <label>
            <input type="text" placeholder="Search...">
        </label>
        <button class="cancel-ticket-button" onclick="window.location.href='/cancel-ticket'">Cancel Ticket</button>
    </div>
    <div class="website-name">
        <h1>AcmePlex</h1>
    </div>
    <div class="account-section">
        <div id="account-info" th:if="${loggedIn}">
            <div class="role-section">
                <a class="vip-message" th:if="${!isAdmin}" th:text="${VIP_message}" href="/vip"></a>
                <button class="admin-button" th:if="${isAdmin}" onclick="window.location.href='/admin'">Admin Dashboard</button>
            </div>
            <div class="dropdown">
                <button class="account-button" id="user-email-button" th:text="${userEmail}"></button>
                <div class="dropdown-menu" id="user-dropdown">
                    <button class="dropdown-item" onclick="window.location.href='/my-tickets'">My Tickets</button>
                    <button class="dropdown-item" onclick="window.location.href='/my-account'">My Account</button>
                    <button class="dropdown-item" onclick="logout()">Logout</button>
                </div>
            </div>
        </div>
        <div id="sign-in-up" th:unless="${loggedIn}">
            <button class="account-button"><a href="/sign-up" style="text-decoration: none; color: #eee">Sign up</a></button>
            <button class="account-button"><a href="/sign-in" style="text-decoration: none; color: #eee">Sign in</a></button>
        </div>
    </div>

</header>
<div class="movie-grid" id="movie-grid"></div>

<!-- Details block template (hidden by default) -->
<div class="details-block" id="details-block" style="display: none;">
    <div class="details-left">
        <h2 class="details-title">Title</h2>
        <p class="details-actors">Actors: </p>
        <p class="details-duration">Duration: </p>
    </div>
    <div class="details-right">
        <a id="btn-watch-trailer" target="_blank"><button class="btn-watch-trailer">Watch Trailer</button></a>
        <a id="btn-buy-ticket" target="_blank"><button class="btn-buy-ticket">Buy Ticket</button></a>
    </div>
</div>
</body>
</html>